<footer class="gdoc-footer">
    <div class="container flex flex-wrap">
        <span class="gdoc-footer__item">
            Construido con <a href="https://gohugo.io/" class="gdoc-footer__link">Hugo</a> y
            <svg class="icon heart"><use xlink:href="#heart"></use></svg>
        </span>
        {{ with .Site.Params.GeekdocLegalNotice }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Aviso legal</a>
        </span>
        {{ end }}
        {{ with .Site.Params.GeekdocPrivacyPolicy }}
        <span class="gdoc-footer__item">
            <a href="{{ . | relURL }}" class="gdoc-footer__link">Política de privacidad</a>
        </span>
        {{ end }}
    </div>
</footer>
